#orbit-chart {
    background: #334;
}
#top-bar {
    background-color: #8b1f41;
    box-shadow: 0 3px 3px #999;
    margin: 0;
    padding: 0 0 12px 0;
    width: 100%;
}
#top-bar > header {
    background-color: #ff6600;
    border-top: solid 1px #8b1f41;
    box-shadow: 0 1px 4px #444;
    color: #fff;
    font-family: 'Cantarell', sans-serif;
    padding: 0.3em 1em 0.3em 1em;
    text-shadow: 2px -1px 0 #8b1f41, 2px 0 0 #8b1f41, 2px 1px 0 #8b1f41, 0 -2px 0 #8b1f41, -1px -2px 0 #8b1f41, -2px 0 0 #8b1f41, -2px -1px 0 #8b1f41, 0 2px 0 #8b1f41, 1px 2px 0 #8b1f41;
}
#upload-alert {
    color: #c00;
}
#upload-button {
    background: #ff6600;
    border: solid 2px #8b1f41;
    border-radius: 1em;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: auto;
    max-width: 100px;
    padding: 0.5em;
    text-shadow: 1px -1px 0 #8b1f41, 1px 0 0 #8b1f41, 1px 1px 0 #8b1f41, 0 -1px 0 #8b1f41, -1px -1px 0 #8b1f41, -1px 0 0 #8b1f41, -1px -1px 0 #8b1f41, 0 1px 0 #8b1f41, 1px 1px 0 #8b1f41;
}
#upload-button:active {
    background: #ee5500;
}
#upload-button:hover {
    box-shadow: 0 1px 3px #999;
}
#user-file {
    display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 0.8em;
}
.axis-label {
    font-size: 0.5em;
}
.card {
    background-color: #eee;
    border-left: solid 5px #8b1f41;
    box-shadow: 0 3px 3px #999;
    display: block;
    margin: 1em 0;
    padding: 0.5em 1em 1em 1em;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}
.info {
    font-size: 0.85rem;
    text-align: left;
}
.svg-container {
    overflow-x: auto;
}

a {
    color: #ff6600;
    text-decoration: none;
}
a:active,
a:visited {
    color: #8b1f41;
}
a:hover {
    text-decoration: underline;
}
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
h2,
h3 {
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 1px -2px 0 #8b1f41, 2px 0 0 #8b1f41, 2px 1px 0 #8b1f41, 0 -2px 0 #8b1f41, -1px -2px 0 #8b1f41, -2px 0 0 #8b1f41, -2px -1px 0 #8b1f41, 0 2px 0 #8b1f41, 1px 2px 0 #8b1f41;
}
html {
    margin: 0;
    height: 100%;
    padding: 0;
}
main {
    height: 100%;
    padding: 2em 10vw;
}
svg {
    background: #fff;
    padding: 1em;
}